network:
  ethernets:
    eth0:
      # Rename the built-in ethernet device to "eth0"
      match:
        driver: bcmgenet
      set-name: eth0
      dhcp4: no
      addresses: [<%= @NFSSERVER %>/24]
      nameservers: 
          addresses:
              - 1.1.1.1
              - 1.0.0.1
