# This file is generated from information provided by the datasource.  Changes
# to it will not persist across an instance reboot.  To disable cloud-init's
# network configuration capabilities, write a file
# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg with the following:
# network: {config: disabled}
network:
    version: 2
    wifis:
      wlan0:
        optional: true
        dhcp4: true
        access-points:
          <%= @WIFI_SSID %>:
            password: "<%= @WIFI_PASSWORD %>"
