net.ifnames=0 dwc_otg.lpm_enable=0 console=serial0,115200 console=tty1 nfsrootdebug root=/dev/nfs nfsroot=<%= @NFSSERVER %>:/agentos/<%= @SERIAL %> rw ip=dhcp rootfstype=nfs4 rootwait fixrtc init=initrd.img elevator=deadline cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory

