dhcp-ignore=tag:!known
dhcp-range=<%= @SUBNET24 %>.100,<%= @SUBNET24 %>.150,12h
enable-tftp
interface=eth0
log-dhcp
log-queries
pxe-prompt="Boot Raspberry Pi", 1
pxe-service=0,"Raspberry Pi Boot "
server=1.1.1.1
tftp-root=/tftpboot
tftp-unique-root=mac
